<div class="container">
  <h2>Leader Board</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>            
  <table class="table">
    <thead>
      <tr>
        <th>UserName</th>
        <th>Total colors marked</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "leader" %>
    </tbody>
  </table>
</div>